---
import { getEntry, render } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const pagina = await getEntry('pagine', 'lo-spazio');
const { Content } = await render(pagina);
---

<Layout titolo={pagina.data.titolo}>
  <h1>{pagina.data.titolo}</h1>
  <Content />
</Layout>
